<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Screening Time</th>
      <th>Cinema</th>
      <th>Day</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr> 
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 1 %>Johnny English</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema1 %>Robinsons Magnolia</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.1 %></td>
        <td><%= product.movie1.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->

      <!-- **************Start of Movie 2*********** -->  
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day3 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 2 %>Black Swan</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema2 %>SM IMAX Theatre</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->

      <!-- **************Start of Movie 3******************* -->

      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema3 %>SM IMAX Theatre</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.2 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema3 %>SM IMAX Theatre</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema3 %>SM IMAX Theatre</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema3 %>Greenbelt 1 Cinemas</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie3.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 3 %>The Broken</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema3 %>SM IMAX Theatre</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.3 %></td>
        <td><%= product.movie2.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->

      <!-- *********Start of Movie 4******** -->

      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
       <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day1 %>8 / 01 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
       <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day2 %>8 / 02 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
       <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day3 %>8 / 03 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time1 %>10:00 AM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 10:00 AM schedule -->
      <tr>
       <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time2 %>12:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 12:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time3 %>2:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 2:00 PM schedule -->
      <tr>
        <td><%= product.Movie 4 %>La Grande Bellezza</td>
        <td><%= product.time4 %>4:00 PM</td>
        <td><%= product.Cinema4 %>Bonifacion High Street Cinema</td>
        <td><%= product.Day4 %>8 / 04 / 2015</td>
        <td><%= product.Movie %></td>
        <td><%= product.4 %></td>
        <td><%= product.movie4.jpg %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> <!-- end of 4:00 PM schedule -->
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
