<p id="notice"><%= notice %></p>

<h2 class= "tablestyle">Movie Guide</h2>

<table>
    <tr>
      <th>Product</th>
      <th>Product_ID</th>
      <th>Screening</th>
      <th>Screening ID</th>
      <th>Cinema</th>
      <th>Cinema ID</th>
      <th>Theater</th>
      <th>Theater ID</th>
      <th>Seats</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
    <% @products.each do |product| %>
      
    <tr>
        <td><%= product.product %></td>
        <td><%= product.product_id %></td>
        <td><%= product.screening %></td>
        <td><%= product.screening_id %></td>
        <td><%= product.cinema %></td>
        <td><%= product.cinema_id %></td>
        <td><%= product.theaters %></td>
        <td><%= product.theaters_id %></td>
        <td><%= product.seats %></td>
        <td><%= product.movieprice %></td>
        <td class = "links"><%= link_to 'Show', product %></td>
        <td class = "links"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class = "links"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>