<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product.product %>
</p>
<p>
  <strong>Product ID:</strong>
  <%= @product.product_id %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @product.cinema %>
</p>
<p>
  <strong>Theater:</strong>
  <%= @product.theaters %>
</p>
<p>
  <strong>Screening:</strong>
  <%= @product.screening %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @product.movieprice %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
