<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @product.movie %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @product.cinema %>
</p>

<p>
  <strong>Screening Time:</strong>
  <%= @product.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @product.day %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
