<p id="notice"><%= notice %></p>

<h1>Listing Cinemas</h1>

<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Cinema</th>
      <th>Cinema ID</th>
      <th>Theater</th>
      <th>Theater ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.product_id %></td>
        <td><%= cinema.cinema %></td>
        <td><%= cinema.cinema_id %></td>
        <td><%= cinema.theater %></td>
        <td><%= cinema.theater_id %></td>
        <td><%= link_to 'Show', cinema %></td>
        <td><%= link_to 'Edit', edit_cinema_path(cinema) %></td>
        <td><%= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cinema', new_cinema_path %>
