<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- ***********CSS************** -->

<!-- ********fonts********* -->

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100italic,300italic,500,700' rel='stylesheet' type='text/css'>

<!-- ******bootstrap**** -->

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="css/normalize.css" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel ="stylesheet">
<link href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" rel ="stylesheet">

  <title>Modern Manila Movies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="menu-header">
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
						<span class="sr only"> </span>
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
					</button>
					<a class="site-title" href="/static_pages/index">
					Moderne Manila Movies<!-- site name -->
					</a>
				</div> <!-- end of navbar page-scroll -->

				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<!-- Menu -->
					<ul class="nav navbar-nav">
						<li><a href="/static_pages/movies">Movies</a></li>
						<li><a href="/static_pages/cinemas">Cinemas</a></li>
						<li><a href="/static_pages/promoevents">Promo/Events</a></li>
						<li><a href="/static_pages/contact">Contact</a></li>
					</ul><!-- End Menu -->
				</div> <!-- end of collapse navbar-collapse -->
			</div> <!-- end of container -->
		</nav> <!-- end of navbar -->
	</div>  <!-- end of menu-header -->
       	
	<div class="header">
		<h1>Welcome to Moderne Manila Movies</h1>
		<h3 class = "timestamp">Welcome! The date and time is <%= Time.now %></h3>
		<h2>Your one stop movie reservation guide in Manila</h2>
		<div class = "filters">
			<div class = "col-md-2">
				<div class = "select-style">
					<select id = "movie">
						<option value>Select Movie</option>
						<option value = "Movie 1">Johnny English</option>
						<option value = "Movie 2">Black Swan</option>
						<option value = "Movie 3">The Broken</option>
						<option value = "Movie 4">La Grande Bellezza</option>
					</select>
				</div> <!-- end of select-style -->
			</div> <!-- end of col -->
			<div class = "col-md-2">
				<div class = "select-style">
					<select id = "cinema">
						<option value>Select Cinema</option>
						<option value = "Cinema1">Robinsons Magnolia</option>
						<option value = "Cinema2">SM IMAX Theatre</option>
						<option value = "Cinema3">Greenbelt 1 Cinemas</option>
						<option value = "Cinema4">Bonifacion High Street Cinema</option>
					</select>
				</div> <!-- end of select-style -->
			</div> <!-- end of col -->
			<div class = "col-md-2">
				<div class = "select-style">
					<select id = "day">
						<option value><h3>Select day<span class="glyphicon glyphicon-chevron-down"></span></h3></option>
						<option value = "Day1">8 / 01 / 2015</option>
						<option value = "Day2">8 / 02 / 2015</option>
						<option value = "Day3">8 / 03 / 2015</option>
						<option value = "Day4">8 / 04 / 2015</option>
					</select>
				</div> <!-- end of select-style -->
			</div> <!-- end of col -->
			<div class = "col-md-2">
				<div class = "select-style">
					<select id = "screening-time">
						<option value>Select time </option>
						<option value = "time1">10:00 AM</option>
						<option value = "time2">12:00 PM</option>
						<option value = "time3">2:00 PM</option>
						<option value = "time4">4:00 PM</option>
					</select>
				</div> <!-- end of select-style -->
			</div> <!-- end of col -->
			<div class = "col-md-3">
					<button type="bookbutton" class="btn btn-warning" data-target="/static_pages/booking">Book Now</button>
				</div> <!-- end of select-style -->
			</div> <!-- end of col -->
		</div> <!-- end of filters -->
		<div class = "row">
			<div class = "col-md-8 col-xs-12">
				
			</div> <!-- end of column -->
	</div> <!-- end of header -->	

<%= yield %>

</body>

<footer>
  <div class = "footer">
    <div class="fb-share" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
      <div class="fb-follow" data-href="https://www.facebook.com/zuck" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
    </div>
    <div class = "twittershare">
      <a href="https://twitter.com/wahnderlush" class="twitter-follow-button" data-show-count="false">Follow @wahnderlush</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <br>
    &copy;Ahn Bustamante 2015
  </div>
</footer> 
<!-- **********Scripts************ -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

</html>


